

<h3 class="section__title">
    Motorcycle News
  </h3>
<section class="d-flex m-0 mt-1">
    
    <div class="container">
        @for (item of cardInformation; track $index) {
            <div class="card">
                <div class="box-img">
                  <img src="{{item.url}}" alt="">
                </div>
                <div class="box-content text-center">
                  <h1>{{item.name}}</h1>
                 
                  <button class="order-button text-bold" [routerLink]="'/news'">know more</button>
                  
                </div>
              </div>
        }
        
      </div>
</section>

