<h3 class="section__title">
  Motorcycle News
</h3>

<section id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">

      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://powersports.honda.com/motorcycle/standard/-/media/products/family/cb650r/trims/trim-main/cb650r/2024/2024-cb650r-pearl_smoky_gray-1505x923.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 1.1</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://powersports.honda.com/motorcycle/standard/cb1000r/-/media/products/family/cb1000r/trim-hero/gallery/cb1000r-black-edition/2024/black/2023-cb1000r-black-gallery-01.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 1.2</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://powersports.honda.com/motorcycle/adventure/africa-twin/2024/-/media/products/family/africa-twin/trim-hero/gallery/africa-twin-adventure-sports-es/2024/pearl-white/2024-africa-twin-adventure-sports-pearl_glare_white-gallery-01.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 1.3</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://powersports.honda.com/motorcycle/motocross/crf450r/-/media/products/family/crf450r/trim-hero/gallery/crf450r/2025/red/2025-crf450r-red-gallery-01.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 1.4</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="carousel-item">

      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://yamahamotorsports.com/media/images/icons/products/25_YZFR1S1L.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 2.1</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://yamahamotorsports.com/media/images/icons/products/25_MT09SPSS.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 2.2</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://yamahamotorsports.com/media/images/icons/products/25_XTZ7SL.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 2.3</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://yamahamotorsports.com/media/images/icons/products/25_XT250S.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 2.4</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="carousel-item">
      
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://azwecdnepstoragewebsiteuploads.azureedge.net/PHO_BIKE_90_RE_MY25-KTM-990-DUKE-R-US-90-degree-right_%23SALL_%23AEPI_%23V1.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 3.1</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://azwecdnepstoragewebsiteuploads.azureedge.net/PHO_BIKE_90_RE_KTM-1390-SUPER-DUKE-R-EVO-ORANGE-US90-RIGHt_%23SALL_%23AEPI_%23V1.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 3.2</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://azwecdnepstoragewebsiteuploads.azureedge.net/PHO_BIKE_90_RE_790-duke-my22-90-right_%23SALL_%23AEPI_%23V1.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 3.3</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://azwecdnepstoragewebsiteuploads.azureedge.net/PHO_BIKE_90_RE_MY24-KTM-390-DUKE-US-90-Rightt-USA_%23SALL_%23AEPI_%23V1.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 3.4</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="carousel-item">

      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://images.ctfassets.net/x7j9qwvpvr5s/3e5sdgBs345jFFe9zahrqy/c7e11a3960e48000caa711085f40c17e/MY24-Panigale-V4-SP2-30-Anniversario-916-Model-Blocks-630x390.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 4.1</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://images.ctfassets.net/x7j9qwvpvr5s/2Wykg3weHPGM4n0a7B86d7/0641c5e885ecae54629320f55d8975f2/Monster-30-Anniversario-MY23-Model-Preview-1050x650.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 4.2</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://images.ctfassets.net/x7j9qwvpvr5s/7u0IO3MvdTPajru4k0MVn3/68c0b940778021224958b5607b92d7fd/DesertX-MY25-Model-Blocks-630x390.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 4.3</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
          <div class="col">

            <div class="card">
              <div class="box-img">
                <img loading="lazy" src="https://images.ctfassets.net/x7j9qwvpvr5s/36jbSxVmgHbc94XPo4j3Xt/8c5ada2150fb3f8eac2603ccf04c13ee/Model-Menu-MY23-Diavel-V4-Rd.png" alt="">
              </div>
              <div class="box-content ">
                <h1>Modelo 4.4</h1>
               
                <button class="order-button text-bold" >know more</button>
                <!-- routerLink="news/{{item.id}}" -->
                <h1>Title</h1>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>



  </div>


</section>








  <!--   
<section class="d-flex m-0 mt-1">
    
    <div class="container">
        @for (item of arrayCardInfo; track $index) {
            <div class="card">
                <div class="box-img">
                  <img loading="lazy" src="{{item.imgMain}}" alt="">
                </div>
                <div class="box-content ">
                  <h1>{{item.modelo}}</h1>
                 
                  <button class="order-button text-bold" routerLink="news/{{item.id}}">know more</button>
                  <h1>{{item.id}}</h1>
                </div>
              </div>
        }
        
      </div>
</section>
 -->