.slide {
    position: relative;
      width: 85vw;
      height: 60%;
      max-height: 95vh;
      background-position: center;
      left: 100px ;
      align-content: center;
      align-items: center;
      
    }
    
    .rightArrow {
      background: transparent;
      position: absolute;
      border: none;
      top: 45%;
      transform: translate(0, -50%);
      right: 32px;
      z-index: 1;
      cursor: pointer;
    }
    
    .leftArrow {
      background: transparent;
      position: absolute;
      border: none;
      top: 45%;
      transform: translate(0, -50%);
      left: 32px;
      z-index: 1;
      cursor: pointer;
    }
    
    .slider {
      position: relative;
      height: 100%;
      
    }
    
    .dotsContainer {
      
      display: flex;
      justify-content: center;
    }
    
    .dot {
      
      cursor: pointer;
      font-size: 20px;
    }
  
    @media (width < 600px) {
      .slide {
        width: 100vw;
        position: relative;
        left: 0px;
      }
  
  }