
<section class="d-flex flex-row m-0 container-banner">
    <!-- carousel -->
    <article class="slider-main">
        <!-- list item -->
        <section class="slider-content">
            <div class="slide">
                <img [src]="getCurrentSlideUrl().url">
                <div class="content-info">
                    <div class="info">
                         <h1 class="marca">{{getCurrentSlideUrl().modelo}}</h1>
                        <!-- <h1 class="title-info">{{getArrayDatos().modelo}}</h1> -->
                         
                    </div>
                    <div class="content-buttons">
                        <button>SEE MORE</button>
                        <button class="btn-sub">SUBSCRIBE</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- list thumnail -->
        <section class="card-mini">
            @for (item of arrayWP; track $index) {
            @if ($index===0) {
            <div class="card-content">

                <img [src]="getCurrentSlideUrl().url">
            </div>
            }@else if (getCurrentSlideUrl().url!= item.url) {
            <div class="card-content">
                <img loading="lazy" [src]="item.url">
                <!-- <div class="card-info">
                    <div class="title">
                        Name Slider
                    </div>
                    <div class="description">
                        Description
                    </div>
                </div> -->
            </div>
            }


            }
        </section>
        <!-- next prev -->

        <section class="arrows">
            <button type="button" class="btn btn-secondary leftArrow" (click)="goToPrevious()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-left" viewBox="0 0 16 16">
                    <path
                        d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753" />
                </svg>
            </button>
            <button type="button" class="btn btn-secondary rightArrow" (click)="goToNext()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-caret-right" viewBox="0 0 16 16">
                    <path
                        d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753" />
                </svg>
            </button>
        </section>
        <!-- time running -->
        <div class="time"></div>
    </article>

</section>

