<!-- <shared-cards/>  -->

<shared-banner [arrayIMG]="arrayBanner" />

<br>
@defer(on viewport){
<shared-cards-marketing [arrayIMG]="arrayPromociones" [itemsPerSlide]="1" />
}@placeholder {
<shared-spinner />
}
<br>

@defer(on viewport){
<shared-card-news [slides]="arrayIMGSmall" />
}@placeholder (minimum 3s) {
<shared-spinner />
}


<br>
@defer(on viewport){
<shared-slider [arrayWP]="sendArrayWP" />
}@placeholder (minimum 6s){
<shared-spinner />
}


<br>
@defer(on viewport){
<shared-cards-marketing [arrayIMG]="arrayLogoMarca" [itemsPerSlide]="2" />
<br>
}@placeholder (minimum 8s) {
<shared-spinner />
}

<br>
@defer(on viewport){
<shared-pruebas [arrayLogoMarca]="arrayLogoMarca" />
<br>
}@placeholder (minimum 8s) {
<shared-spinner />
}