

 <shared-banner />
 <shared-news-page/>
<!-- <shared-cards/> -->
  
   <section class="texto">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, ducimus eveniet odio laboriosam culpa, minima dicta ut cum explicabo soluta deleniti illo ipsa voluptatibus voluptates nobis harum! Incidunt, iste?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, ducimus eveniet odio laboriosam culpa, minima dicta ut cum explicabo soluta deleniti illo ipsa voluptatibus voluptates nobis harum! Incidunt, iste?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, ducimus eveniet odio laboriosam culpa, minima dicta ut cum explicabo soluta deleniti illo ipsa voluptatibus voluptates nobis harum! Incidunt, iste?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, ducimus eveniet odio laboriosam culpa, minima dicta ut cum explicabo soluta deleniti illo ipsa voluptatibus voluptates nobis harum! Incidunt, iste?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, ducimus eveniet odio laboriosam culpa, minima dicta ut cum explicabo soluta deleniti illo ipsa voluptatibus voluptates nobis harum! Incidunt, iste?
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, ducimus eveniet odio laboriosam culpa, minima dicta ut cum explicabo soluta deleniti illo ipsa voluptatibus voluptates nobis harum! Incidunt, iste?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, ducimus eveniet odio laboriosam culpa, minima dicta ut cum explicabo soluta deleniti illo ipsa voluptatibus voluptates nobis harum! Incidunt, iste?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, ducimus eveniet odio laboriosam culpa, minima dicta ut cum explicabo soluta deleniti illo ipsa voluptatibus voluptates nobis harum! Incidunt, iste?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, ducimus eveniet odio laboriosam culpa, minima dicta ut cum explicabo soluta deleniti illo ipsa voluptatibus voluptates nobis harum! Incidunt, iste?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam recusandae, ducimus eveniet odio laboriosam culpa, minima dicta ut cum explicabo soluta deleniti illo ipsa voluptatibus voluptates nobis harum! Incidunt, iste?
    </p>

  </section>
  <main>
    
  </main>