/* img{
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  
  
}
.container-banner{
  width: 100vw;
  height: 60vh;

  
}
.header {
  clip-path: polygon(0 0,100% 0,100% 85%,50% 100%,0 85%);
  overflow: hidden;
  position: relative;
  display: flex;
  border-bottom: 1rem solid #d79447;
  
}



.height-max {
  background-position: center;
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count:  infinite;
}

@keyframes zoom {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.6) ;
  }
  100% {
      transform: scale(1);
  }
}

@media screen and (width <= 650px) {
  .header, .container-banner{
      max-height: 200px;
  }
  

}


@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 3));
      transform: translateX(calc(-200px * 3));
  }
} */

.container-banner{
  width: 100vw;
  /* height: 75vh; */
  overflow: hidden;
  
}


/* carousel */
.slider-main{
  width: 100vw;
  height: 60vh;
  margin: 0px;
  overflow: hidden;
  position: relative;
}

.slide{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  & img{
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}