img{
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: 1;
  
  
}
.container-banner{
  width: 100vw;
  height: 60vh;

  
}
.header {
  clip-path: polygon(0 0,100% 0,100% 85%,50% 100%,0 85%);
  color: var(--mainYellow);
  overflow: hidden;
  position: relative;
  
}


.height-max {

  /* background: url(/img-banner/banner3.jpg); */
  background-position: center;
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

@keyframes zoom {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.6) translateX(-5%);
  }
  100% {
      transform: scale(1);
  }
}
