
.navbar-container {
    width: 100vw;
    height: 12vh;
    background-color: black;
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 1000;
    animation: echange-navBar linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

@keyframes echange-navBar {
    to{
        background-color: rgba(var(--secondaryBlack), 0.4);
        backdrop-filter: blur(5px);
        font-size: 18px;
        color: rgb(241, 241, 112);
    }
}



a{
     font-size:  1.5rem !important;
}

.logo{
    margin-left: 2rem;
}


.menu-container{
    margin-right: 2rem;
}
.btn-menu{
    border: 1px solid white;
    color: white !important;
}

.span-menu:hove{
    border: 1px solid white;
}

.nav_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    
}
.list-item {
   
    position: relative;
   
}


.nav-tilte{
    text-decoration: none;
    position: relative;
    display: inline-block;
    font-weight: 500;
    color: white;
    transition: all 300ms ease-in-out;
    font-size: 15px;

    &:before{
        content: "";
        height: 0.3rem;
        width: 0;
        background-color: #d79447;
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        opacity: 0;
        transition: all 500ms linear;
    
    }

    &:hover::before{
        width: 100%;
        opacity: 1;
    }
    
}

