<section class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-container">
      <div class="container-fluid ">
      
        <h1 class="text-light logo">hypermoto</h1>
        
        <button class="navbar-toggler btn-menu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon span-menu"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end  menu-container" id="navbarNav">
          <ul class="navbar-nav">
            @for (item of rutasMenu; track $index) {
              <li class="nav-item">
                  <a class="nav-link actie nav-tilte" [routerLink]="item.componente" >
                      {{item.title}}
                     
                  </a>

              </li>

              }
                 
                  
          </ul>
        </div>
      </div>
    </nav>


</section>


