

.container {
  overflow: hidden;
 
  /* box-shadow: inset 20px 0px 30px var(--secondaryBlack),
    inset -20px 0px 30px var(--secondaryBlack); */
}

.carousel-container{
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 400px;
  height:500px;
}

.slider-container{
  justify-content: center;
  justify-items: center;
  width: 100px;
  height:200px;
  
}

@media screen and (width <= 650px) {
  .slider-container{
    width: 200px;
    height:200px;
    & img{
      object-fit: cover;
      width: 450px;
    } 
    
  }

}


