<section class="container mt-0">

  <carousel  id="carousel" 
          [singleSlideOffset]="true"
          [interval]="0"
          [noWrap]="false"
        [showIndicators]="false"
        [interval]="3500"
        class="carousel-container " >
    
    @for (item of arrayIMG; track $index) {
      <slide class="slider-container  justify-content-center align-items-center">
        <img [src]="item.url" alt="image slide" class="img-slide" >
       
      </slide>
     
      }
    
  
  </carousel>

</section>