

.container {
  overflow: hidden;
  /* box-shadow: inset 20px 0px 30px var(--secondaryBlack),
    inset -20px 0px 30px var(--secondaryBlack); */
}

.row {
  height: 50%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

}

.stack {
  height: 100%;
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  animation: toTheLeft 30s  linear infinite;
  animation-delay: 3s;
  z-index: -2;

}


img {
  height: 90px;
  width: 120px;
  margin: 20px;
  margin-left: 10rem;
  transition: transform 1s;
  /* filter: invert(1) grayscale(100%); */
  
}


@keyframes toTheLeft {

  0% {

    transform: translateX(0%);

  }

  100% {

    /* transform: translateX(-100%); */
    transform: translateX(calc(-250px *9));

  }

}



/* --------------------------------- */

